.sidebar {
    position: sticky;
    top: 0;
    height: 92.5vh;
    width: 20vw;
    background: #fa7c7c;
    transform: translateX(70%);
    transition: transform .5s ease;
    padding-left: 0.5vw;
}


.sidebar-extended {
    transform: translateX(0);

}

.sidebar-btn {
    margin-bottom: 3vh;
}

.sidebar-filter {
    display: flex;
    margin-bottom: 1vh;
}

.sidebar-filter-icon {
    margin-right: 0.5vw;
}

.sidebar-filter-text {
    /*transform: translateX(-100%);*/
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.sidebar-filter-text-visible {
    /*transform: translateX(0);*/
    opacity: 100%;
}
