
.calendar {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

.month {
    max-width: 290px;
    height: 185px;
    background: #9afcaa;

    padding-left: 14px;
    padding-right: 14px;
    padding-top: 6px;
    margin-bottom: 20px;
    margin-right: 20px;
    align-items: flex-start;
}

.month-name {
    margin-bottom: 10px;
    font-size: 20px;
}

.month-days {
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 24px;
    height: 28px;
    background: #fa7c7c;
    margin-right: 9px;
    margin-bottom: 8px;
}

.day-today {
    background: #924f4f;
}

.day:nth-child(8n) {
    margin-right: 0;
}